.imageCard{
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}

.imageContainer{
    width: 100%;
    min-height: 200px;
    max-height: 250px;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    background-color: lightgray;
    flex-grow: 1;
}


.imageContainer img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
    object-position: center;
}