.modalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #F5F5F5;
    flex-shrink: 0;
    position: sticky;
    top: 0px;
}

.closeIcon{
    cursor: pointer;
}